.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1ECBE1;
}

.calculator {
  background-color: #ffffff;
  border-radius: 8px;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

input {
  width: 93%;
  height: 40px;
  font-size: 18px;
  text-align: right;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 4px;
}

.result {
  height: 30px;
  font-size: 18px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1E6AE1;
}

button:active {
  background-color: #ddd;
}
button.clear{
  background-color: brown;
  grid-column: span 2;
}
button.zero {
  background-color: rgb(255, 157, 0);
  grid-column: span 2;
}
button.equal {
  background-color: #E1341E;
  grid-column: span 2;
}
@media (max-width:400px) {
  .calculator {
    max-width: 280px;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .calculator {
    max-width: 250px;
    width: 100%;
  }
}